<template name="404">
    <section class="post-wrapper-top dm-shadow clearfix">
            <div class="container">
                <div class="post-wrapper-top-shadow">
                    <span class="s1"></span>
                </div>
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li>Page Not Found (404)</li>
                    </ul>
                    <h2>Page Not Found (404)</h2>
                </div>
            </div>
        </section><!-- end post-wrapper-top -->

        <section class="generalwrapper dm-shadow clearfix">
        	<div class="container">
				<div id="content" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                        <div class="error404 text-center">
                            <h2>
                            <span>404</span>
                            </h2>
                            <h3>The page you are looking for no longer exists. Perhaps you can return back to the site's homepage and see if you can find what you are looking for.</h3>
                            <a class="btn btn-primary" href="index.html">BACK TO HOME</a>
                        </div><br><br><br>
                </div><!-- end content -->
            </div><!-- end container -->
        </section><!-- end generalwrapper -->







</template>