<template name="breadcrumbs">
    <section class="post-wrapper-top dm-shadow clearfix">
            <div class="container">
                <div class="post-wrapper-top-shadow">
                    <span class="s1"></span>
                </div>
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li>Login and register page</li>
                    </ul>
                    <h2>Login and register page</h2>
                </div>
            </div>
        </section>
</template>