<template name="layoutMain">
    <header>
        <header class="header1">
            {{> navbar }}
        </header>
    </header>
    <main>
        {{> yield}}

        <section class="message_banner dm-shadow">
        	{{> bottom_banner }}
        </section>

        <footer class="footer1">
            {{> footer }}
        </footer>
        <section class="copyright">
            {{> copyright }}
        </section>
    </main>

</template>

<template name="layoutLanding">
    <header>
        <title>Real Estate</title>
        <link rel="stylesheet" type="text/css" class="" href="/css/bootstrap.css">

    </header>
    <main>
        <div id="Header">
            <div class="wrapper">

            </div>
        </div>
        <div id="bg">
            <img src="/img/48.jpg" class="big"/>
        </div>
        <div id="Content" class="wrapper">
            <div class="countdown styled"><img src="/img/logo.png"/></div><br/>
            <!-- <h2 class="intro">Our website is under construction. Stay tuned for something amazing!. Subscribe to be notified.</h2> -->
            <div id="subscribe">
                <form action="" method="post" onsubmit="">
                    <p>
                        <input type="" value="Acheter" id="select"/>
                        <input type="" value="Louer" id="select"/>

                    </p>


                  <!-- Using 2 traingles to achieve border outline :) -->
                    <i id="triangle_down1" style="display: none"><i></i></i>
                  <i id="triangle_down" style="display: none"><i></i></i><br/>


                    <div></div>

                    <p><input name="" placeholder="Entrer une ville au Maroc" type="text" id="landing-entry"/>
                        <a href="/results"><input type="submit" value="Search" id="main"/></a></p>
                </form>
            </div>

        </div>
        <div id="overlay"></div>
        <script type="text/javascript" src="/client/lib/Backstretch.js"></script>
        <script type="text/javascript" src="/client/lib/global.js"></script>

        <script>
           $('#select').click(function () {
		   $('#triangle_down').show();
               $('#triangle_down1').show();
	       });
           // $('.class1, .class2').click(some_function);
        </script>

    </main>
</template>

