<template name="layoutMain" xmlns="http://www.w3.org/1999/html">
    <header>
        <header class="header1">
            {{> navbar }}
        </header>
    </header>
    <main>
        {{> yield}}

        <section class="message_banner dm-shadow">
        	{{> bottom_banner }}
        </section>

        <footer class="footer1">
            {{> footer }}
        </footer>
        <section class="copyright">
            {{> copyright }}
        </section>
    </main>

</template>

<template name="layoutLanding">

    <header>

        <title>Real Estate</title>
        <link rel="stylesheet" type="text/css" class="" href="/css/bootstrap.css">

    </header>

    <main>

        {{> topBar}}

        <div id="Header">
            <div class="wrapper">

            </div>
        </div>
        <div id="bg">
            <img src="/img/48.jpg" class="big"/>
        </div>
        <div id="Content" class="wrapper">
            <div class="countdown styled"><img src="/img/logo.png"/></div><br/>
            <!-- <h2 class="intro">Our website is under construction. Stay tuned for something amazing!. Subscribe to be notified.</h2> -->
            <div id="subscribe">
                <form action="" method="post" onsubmit="">
                    <p>

                        <button type="button" id="select" style="">Acheter</button>
                        <button type="button" id="select1">Louer</button>

                    </p>


                  <!-- Using 2 traingles to achieve border outline :) -->
                    <i id="triangle_down1" style="display: none"><i></i></i>
                  <i id="triangle_down" style="display: none"><i></i></i><br/>

                    <!--Louer triangles -->
                  <i id="triangle_down2" style="display: none"><i></i></i>
                  <i id="triangle_down3" style="display: none"><i></i></i><br/>

                    <div></div>

                    <p>
                        <input name="" placeholder="Entrer une ville au Maroc" type="text" id="landing-entry" />
                        <a href="/results"> <input type="submit" id="main" value="Search"/></a>

                    </p>
                </form>
            </div>

        </div>
        <div id="overlay"></div>
        <script type="text/javascript" src="/client/lib/Backstretch.js"></script>
        <script type="text/javascript" src="/client/lib/global.js"></script>
        <script src="js/jquery.geocomplete.js"></script>
        <script src="js/logger.js"></script>


        <script>


           $(document).ready(function() {
                     $('#select').css('background', '#19b8df');
                     $('#select').css('color', '#ecf0f1');
                     $('#triangle_down').add('#triangle_down1').toggle();
                 $('#select').click(function() {
                     $(this).css('background', '#19b8df');
                     $(this).css('color', '#ecf0f1');
                     $('#triangle_down').add('#triangle_down1').toggle();
                     /*Added this if clause to check if the other button's arrow is active
                       then hides it using the toggle method
                      */
                     if($('#triangle_down2').add('#triangle_down3').show()){
                         $('#triangle_down2').add('#triangle_down3').toggle();
                     }
                     $('#select1').css('background', '#ecf0f1');
                     $('#select1').css('color', '#19b8df');
                 });
                 $('#select1').on('click', function() {
                      $(this).css('background', '#19b8df');
                    $(this).css('color', '#ecf0f1');
                     /*Added this if clause to check if the other button's arrow is active
                       then hides it using the toggle method
                      */
                     if($('#triangle_down').add('#triangle_down1').show()){
                         $('#triangle_down').add('#triangle_down1').toggle();
                     }
                    $('#select').css('background', '#ecf0f1');
                    $('#select').css('color', '#19b8df');
                    $('#triangle_down2').add('#triangle_down3').toggle();

                 });
            });




        </script>



    </main>
</template>

