<template name="loading">
    <section class="post-wrapper-top dm-shadow clearfix">
            <div class="container">
                <div class="post-wrapper-top-shadow">
                    <span class="s1"></span>
                </div>
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li>Loading</li>
                    </ul>
                    <h2>Data Loading</h2>
                </div>
            </div>
        </section><!-- end post-wrapper-top -->

        <section class="generalwrapper dm-shadow clearfix">
        	<div class="container">
				<div id="content" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
                        <div class="error404 text-center">
                            <h2>
                            <span>Loading</span>
                            </h2>
                            <h3>Loading...!!</h3>

                        </div><br><br><br>
                </div><!-- end content -->
            </div><!-- end container -->
        </section>
</template>