<!-- template for listing properties -->
<template name="submit_property">
     <section class="post-wrapper-top dm-shadow clearfix">
            <div class="container">
                <div class="post-wrapper-top-shadow">
                    <span class="s1"></span>
                </div>
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="/home">Home</a></li>
                        <li>List a property</li>
                    </ul>
                    <h2>List a property</h2>
                </div>
            </div>
        </section>

        <section class="generalwrapper dm-shadow clearfix">
        	<div class="container">
				<div class="row">
                	<div id="left_sidebar" class="col-lg-2 col-md-3 col-sm-3 col-xs-12 first clearfix">
              			<div class="widget clearfix">
                        	<div class="title"><h3>Banner Ads</h3></div>
                            <!-- will be added later in a template
							<a href="#"><img src="/img/demos/03_banner.png" alt="" class="img-thumbnail img-responsive"></a> -->
                        </div><!-- end widget -->

              			<div class="widget clearfix">
                        	<div class="title"><h3>Site Links</h3></div>
                            <!-- will be added later
                            <ul class="list">
                            	<li><a title="" href="#">Support</a></li>
                            	<li><a title="" href="#">Get in touch</a></li>
                            	<li><a title="" href="#">About us</a></li>
                            	<li><a title="" href="#">Terms of use</a></li>
                            	<li><a title="" href="#">Copyrights</a></li>
                            	<li><a title="" href="#">Join us</a></li>
                            </ul> -->
                        </div>

                    	<div class="widget cats_widget clearfix">
							<div class="title"><h3><i class="icon-sale"></i> For Sale</h3></div>
                			<ul class="real-estate-cats-widget">
                                <!-- will be added later
                                <li><a href="#">Housing (21)</a>

                                    <ul>
                                        <li><a href="#">Apartment</a></li>
                                        <li><a href="#">Villa</a></li>
                                        <li><a href="#">Summerhouse</a></li>
                                        <li><a href="#">Family House</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Workplace (12)</a>
                                    <ul>
                                        <li><a href="#">Shop</a></li>
                                        <li><a href="#">Apartment</a></li>
                                        <li><a href="#">Resort</a></li>
                                        <li><a href="#">Emporium</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Land (9)</a>
                                    <ul>
                                        <li><a href="#">Arable Field</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </div><!-- end widget -->

                    	<div class="widget clearfix">
							<div class="title"><h3><i class="icon-rent"></i> For Rent</h3></div>
                			<ul class="real-estate-cats-widget">
                                <!-- will be added later
                                <li><a href="#">Housing (15)</a>
                                    <ul>
                                        <li><a href="#">Apartment</a></li>
                                        <li><a href="#">Villa</a></li>
                                        <li><a href="#">Summerhouse</a></li>
                                        <li><a href="#">Family House</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Workplace (65)</a>
                                    <ul>
                                        <li><a href="#">Shop</a></li>
                                        <li><a href="#">Apartment</a></li>
                                        <li><a href="#">Resort</a></li>
                                        <li><a href="#">Emporium</a></li>
                                        <li><a href="#">Arable Field</a></li>
                                        <li><a href="#">Land</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </div><!-- end widget -->
                    </div><!-- #left_sidebar -->

                	<div id="content" class="col-lg-7 col-md-6 col-sm-6 col-xs-12 clearfix">
                    	<div class="property_wrapper boxes clearfix">
							<h3 class="big_title">List Property Form<small>You can submit your property</small></h3>

                            {{#autoForm collection="Properties" id="property_submit_form" type="insert"}}
                                <fieldset>
                                    {{> afQuickField name="title" id="title" placeholder="Title"}}

                                    {{> afQuickField name="description" id="description" rows=6 }}
                                    {{> afQuickField name="type" id="type"}}
                                    {{> afQuickField name="status" id="status"}}
                                    {{> afQuickField name="city" id="country"}}
                                    {{> afQuickField name="bedrooms" }}
                                    {{> afQuickField name="bathrooms" }}
                                    {{> afQuickField name="parking" }}
                                    {{> afQuickField name="furnished" type="boolean-checkbox" }}
                                    {{> afQuickField name="airConditioning"  type="boolean-checkbox" }}
                                    <hr>
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12 col-lg-sm-12">
                                            <div class="input-group">

                                                 {{> afQuickField name="price" }}

                                            </div>
                                        </div>

                                    </div>
                                    <hr>
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                       <!-- <div class="fileupload-preview thumbnail"></div>-->
                                    </div>
                                    <div>


                                            {{> afQuickField name="photos"  type="file"}}

                                    </div>
                                    <div class="clearfix"></div>

                                        <hr>
                                    {{> afQuickField name="address" id="geocomplete"  placeholder="Type in an address"}}
                                    <!--<input id="find" type="button" class="btn btn-primary" value="Find Address" />-->
                                    <div class="map_canvas"></div>
                                        <hr>
                                </fieldset>
                                <button type="submit" class="btn btn-primary" id="send-property">SEND DETAILS</button>
                           {{/autoForm }}
						</div><!-- end property_wrapper -->
                    </div><!-- end content -->

                    <div id="right_sidebar" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 last clearfix">
                    	<div class="widget clearfix">
                        	<div class="search_widget">
                            	<div class="title"><h3><i class="fa fa-search"></i> Search For Property</h3></div>
								<form action="#" id="search_form">
                                 	<input type="text" class="form-control" placeholder="Search by ID or property name...">
								</form><!-- end search form -->
                            </div><!-- end search_widget -->
                        </div><!-- end widget -->

                    	<div class="widget clearfix">
                        	<div class="agents_widget">
                            	<div class="title"><h3><i class="fa fa-users"></i> Our Agents</h3></div>

                            </div><!-- end of agents_widget -->
						</div><!-- end of widget -->
                        <!-- will be added in a template
                     	<div class="widget clearfix">
                        	<div class="title"><h3>Banner Ads</h3></div>
							<img data-effect="fade" class="text-center img-thumbnail img-responsive" src="/img/demos/01_banner.png" alt="">
						</div> --><!-- end of widget -->
					</div><!-- end sidebar -->

                </div><!-- end row -->
            </div><!-- end container -->
        </section>
     <script src="js/jquery.geocomplete.js"></script>
     <script src="js/logger.js"></script>

      <script>
      $(function(){
        $("#geocomplete").geocomplete({
          map: ".map_canvas",
          details: "form",
          types: ["geocode", "establishment"],
            draggable: true
        });
        $("#find").click(function(){
          $("#geocomplete").trigger("geocode");
        });
      });
    </script>

</template>