
<template name="topBar">

    <div class="landingHeader">
        
        <div class="container">
            
            <div class="menuLogo">Altannonces</div>
            <div class="menuItem">Acheter</div>
            <div class="menuItem">Louer</div>
            <div class="menuItem">Contact</div>

            <div class="rightMenuItems">
                <div class="rightMenuItem votreAnnonce">Votre Annonce!</div>
                <div class="rightMenuItem connexion">Connexion</div>
            </div>

        </div>

    </div>

</template>