
<template name="topBar">

    <div class="landingHeader">
        
        <div class="container">
            
            <div class="menuLogo">Altannonces</div>
            <div class="menuItem">Acheter</div>
            <div class="menuItem">Louer</div>
            <div class="menuItem">Contact</div>

            <div class="rightMenuItems">
                <div class="rightMenuItem votreAnnonce">Votre Annonce!</div>
                <div class="rightMenuItem connexion">Connexion</div>
            </div>
            <div class="container-filter">
                <div class="menu2" style="padding-left: 400px;">
                    <form action="#" id="search_form">
                        <input type="text" class="form-control" id="filter-entry" placeholder="">
                    </form>
                </div>
                    <div class="menu2">LISTING TYPE<span class="caret"></span>
</div>
                    <div class="menu2">ANY PRICE<span class="caret"></span>
</div>
                    <div class="menu2">HOME TYPE<span class="caret"></span>
</div>


            </div>

        </div>

    </div>

</template>
