
<template name="topBar">

    <div class="landingHeader">
        
        <div class="container">
            
            <div class="menuLogo">Altannonces</div>
            <div class="menuItem">Acheter</div>
            <div class="menuItem">Louer</div>
            <div class="menuItem">Contact</div>

            <div class="rightMenuItems">
                <div class="rightMenuItem votreAnnonce">Votre Annonce!</div>
                <div class="rightMenuItem connexion">Connexion</div>
            </div>

            <div class="filter">
                <div class="container-filter">
                    <div class="filterMenuItems">
                        <ul class="nav navbar-nav">
                                <li class="dropdown fhmm-fw">
                                    <form action="#" id="search_form">
                                        <input type="text" class="form-control" id="filter-entry" placeholder="Entrer une ville au Maroc">
                                    </form>
                                </li>
                                <li class="dropdown fhmm-fw">
                                        <a href="#">LISTING TYPE</a>
                                </li>
                                <li class="dropdown fhmm-fw">
                                       <a href="#">ANY PRICE</a>
                                </li>
                                 <li class="dropdown fhmm-fw">
                                     <a href="#">HOME TYPE</a>
                                 </li>

                        </ul>

                    </div>


                </div>

            </div>



        </div>




    </div>

</template>
<!--<template name="filter">
    <div class="container-filter">
        <div class="container">
            <div class="holder">
                <ul class="nav navbar-nav">
                    <li class="dropdown fhmm-fw">
                        <form action="#" id="search_form">
                            <input type="text" class="form-control" placeholder="Entrer une ville au Maroc">
                        </form>
                    </li>
                    <li class="dropdown fhmm-fw">

                    </li>

                   <a href="#">LISTING TYPE</a>
                   <a href="#">ANY PRICE</a>
                   <a href="#">HOME TYPE</a>
                </ul>
            </div>

        </div>

    </div>
</template> -->